[user]
	name = zen
	email = p4rim@proton.me
	signingKey = /home/zen/.ssh/id_ed25519
[core]
    editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[init]
	defaultBranch = master
[gpg]
	format = ssh
[commit]
	gpgSign = true
